h4{text-align: center; color: blue; font-style: bold;}

#out-log {margin-right: 10px; margin-left: 20px;}

#house {color: red;}
#titulo {margin-top: 20px;text-align: center;}

#caja_crud { width: 1000px; height: 500px; border: 4px dotted grey; position: relative;
		margin-left: 170px;}
#tabla { width: 800px; height: 300px; border: 4px dotted grey; position: relative;  }

#tabla_cat{display: inline-block;}