h4{text-align: center; color: blue; font-style: bold;}

#out-log {margin-right: 10px; margin-left: 20px;}

#house {color: red;}
#titulo {margin-top: 20px;text-align: center;}

#caja_crud { width: 1500px; height: 500px; position: relative;
		margin-left: 30px;}
#tabla { width: 400px; height: 300px; position: relative;  }

#caja_anuncio { margin:15px;}